
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Jag godkänner", "Index", "Inputform")
        @Html.ActionLink("Administratör", "Index", "Login")
    </div>
</body>
</html>
